<template>
  <div class="facility-container" id="objects">
    <img class="circle" src="../../assets/images/circle.svg" />
    <div class="title">
      Виды объектов
      <span>с которыми мы работаем</span>
    </div>
    <div class="facility-list-container">
      <div class="facility-wrapper" v-for="(item, index) in facilityList" :key="index">
        <img class="image" :src="item.src" />
        <div class="name">{{item.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { facilityData } from "./assets/facilityData.js";
export default {
  components: {},
  data: () => {
    return {
      facilityList: facilityData
    };
  }
};
</script>

<style scoped>
.circle {
  display: block;
  /* width: 1251px; */
  /* height: 1251px; */
  position: absolute;
  top: -468px;
  left: -450px;
  z-index: -1;
}

.facility-container {
  margin-bottom: 195px;
  position: relative;
}

.title {
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 41px;
  text-shadow: 0 2px 9px rgba(15, 16, 203, 0.5);
  margin-bottom: 113px;
}

.title span {
  color: #96a7cf;
}

.facility-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.facility-wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
}

.image {
  display: block;
  /* box-shadow: 0 2px 50px 0 rgba(254, 238, 91, 0.8); */
}

@media screen and (max-width: 1099px) {
  .facility-container {
    padding-left: 56px;
    padding-right: 55px;
  }
}
</style>
