@font-face {
    font-family: 'Circe';
    src: url('./Circe-ExtraLight.eot');
    src: url('./Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('./Circe-ExtraLight.woff2') format('woff2'),
         url('./Circe-ExtraLight.woff') format('woff'),
         url('./Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('./Circe-Bold.eot');
    src: url('./Circe-Bold.eot?#iefix') format('embedded-opentype'),
         url('./Circe-Bold.woff2') format('woff2'),
         url('./Circe-Bold.woff') format('woff'),
         url('./Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Thin.eot');
    src: url(./'Circe-Thin.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Thin.woff2') format('woff2'),
         url(./'Circe-Thin.woff') format('woff'),
         url(./'Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-ExtraBold.eot');
    src: url(./'Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-ExtraBold.woff2') format('woff2'),
         url(./'Circe-ExtraBold.woff') format('woff'),
         url(./'Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Regular.eot');
    src: url(./'Circe-Regular.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Regular.woff2') format('woff2'),
         url(./'Circe-Regular.woff') format('woff'),
         url(./'Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Light.eot');
    src: url(./'Circe-Light.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Light.woff2') format('woff2'),
         url(./'Circe-Light.woff') format('woff'),
         url(./'Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Light_1.eot');
    src: url(./'Circe-Light_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Light_1.woff2') format('woff2'),
         url(./'Circe-Light_1.woff') format('woff'),
         url(./'Circe-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Bold_1.eot');
    src: url(./'Circe-Bold_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Bold_1.woff2') format('woff2'),
         url(./'Circe-Bold_1.woff') format('woff'),
         url(./'Circe-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-ExtraLight_1.eot');
    src: url(./'Circe-ExtraLight_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-ExtraLight_1.woff2') format('woff2'),
         url(./'Circe-ExtraLight_1.woff') format('woff'),
         url(./'Circe-ExtraLight_1.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Thin_1.eot');
    src: url(./'Circe-Thin_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Thin_1.woff2') format('woff2'),
         url(./'Circe-Thin_1.woff') format('woff'),
         url(./'Circe-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-Regular_1.eot');
    src: url(./'Circe-Regular_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-Regular_1.woff2') format('woff2'),
         url(./'Circe-Regular_1.woff') format('woff'),
         url(./'Circe-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(./'Circe-ExtraBold_1.eot');
    src: url(./'Circe-ExtraBold_1.eot?#iefix') format('embedded-opentype'),
         url(./'Circe-ExtraBold_1.woff2') format('woff2'),
         url(./'Circe-ExtraBold_1.woff') format('woff'),
         url(./'Circe-ExtraBold_1.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

