<template>
  <div class="form_wrapper">
    <div class="form_title_wrapper">
      <div class="form_title">Заявка на расчёт</div>
      <div class="form_subtitle">Оставьте заявку через сайт и получите дополнительную скидку 5%</div>
    </div>
    <div class="form_inputs">
      <input class="input" placeholder="Имя" v-model="params.name" />
      <input class="input" placeholder="Номер телефона" v-model="params.phone" />
      <input class="input" placeholder="Электронная почта" v-model="params.email" />
    </div>
    <p>Есть фотография или план?</p>
    <div class="button_wrapper">
      <DownloadButton msg="Загрузить план" />
    </div>
    <div class="checkbox_wrapper">
      <input :id="checkType" class="checkbox" type="checkbox" v-model="params.checked" />
      <label :for="checkType" class="checkbox-text">Я согласен на обработку персональных данных</label>
    </div>
    <div class="button_wrapper">
      <CalculateButton msg="Рассчитать стоимость" />
    </div>
  </div>
</template>

<script>
import DownloadButton from "@/components/Buttons/DownloadButton.vue";
import CalculateButton from "@/components/Buttons/CalculateButton.vue";
export default {
  components: {
    DownloadButton,
    CalculateButton
  },
  props: {
    checkType: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      params: {}
    };
  }
};
</script>

<style lang="scss" scoped>
.form_wrapper {
  color: #ffffff;
  z-index: 10;
}

input {
  background: transparent;
  padding-bottom: 10px;
  border: none;
  user-select: none;
  outline: none;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 50px;
  line-height: 20px;
  font-size: 1em;
  color: #ffffff;
  opacity: 0.9;
}
::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.7;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  padding: 0 0 0 0px;
}
input[type="checkbox"]:checked {
  background: #0080ff;
  height: 16px;
  width: 16px;
  padding: 0 0 0 0px;
}

.form_title_wrapper {
  margin-bottom: 66px;
}

.form_title {
  font-size: 1.4em;
  line-height: 44px;
  margin-bottom: 10px;
}

.form_subtitle {
  font-size: 1em;
  opacity: 0.6;
}

.form_inputs {
  display: flex;
  flex-flow: column nowrap;
}
p {
  font-size: 0.65em;
  opacity: 0.6;
}

.checkbox_wrapper {
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.65em;
  opacity: 0.8;
  margin-bottom: 12px;
  align-items: center;
}

.button_wrapper {
  margin-bottom: 28px;
}

.checkbox {
  margin: 0 8px 2px 0px;
}
</style>
