<template>
  <div id="main" class="head_block_container">
    <div class="imagesContainer">
      <img class="wawe" src="../../assets/images/wawe.svg" />
      <img class="oval_herota" src="../../assets/images/oval_and_herota.svg" />
      <img class="oval_herota-left" src="../../assets/images/oval_and_herota_left.svg" />
    </div>
    <div class="container">
      <div class="fat_form_wrapper">
        <Form checkType="header" />
        <div class="fat_form_footer">
          <div class="fat_footer_title">У вас уже есть предложение от другой компании?</div>
          <div
            class="fat_footer_subtitle"
          >Пришлите нам коммерческое предложение, и мы подготовим более выгодное решение</div>
          <div class="button_wrapper">
            <DownloadButton msg="Загрузить" />
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="title">Поставка и профессиональный монтаж вентиляции и систем кондиционирования</div>
        <div class="subtitle">в Ростове-на-Дону и других регионах</div>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "@/components/Form/Form.vue";
import DownloadButton from "@/components/Buttons/DownloadButton.vue";
export default {
  components: {
    Form,
    DownloadButton
  }
};
</script>
<style lang="scss" scoped>
.head_block_container {
  position: relative;
  width: 100%;
  min-height: 859px;
  padding-top: 150px;
}
.wrapper {
  color: #ffffff;
  z-index: 3;
}
.title {
  line-height: 42px;
  font-size: 1.8em;
  font-weight: 600;
  width: 521px;
  margin-bottom: 16px;
}

.subtitle {
  line-height: 20px;
  font-size: 1em;
}

.fat_form_wrapper {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  top: 0;
  right: -50px;
  height: 1206px;
  /* background-image: linear-gradient(
    -180deg,
    #7752d0 15%,
    #6c51d0 21%,
    #2c4bd1 94%
  ); */
  background-image: linear-gradient(-180deg, #7752d0 8%, #314bd1 100%);
  box-shadow: 7px 32px 58px 0 rgba(11, 11, 32, 0.5);
  padding: 34px 40px 54px 40px;
  border-radius: 6px;
  width: 429px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
.fat_footer_title {
  font-size: 26px;
  color: #61eafa;
  letter-spacing: 0;
  line-height: 34px;
  text-shadow: 0 2px 9px rgba(15, 16, 203, 0.5);
  margin-bottom: 12px;
}
.fat_footer_subtitle {
  margin-bottom: 22px;
}

.wawe {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.oval_herota {
  position: absolute;
  top: 0;
  right: 0;
}
.oval_herota-left {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1099px) {
  .fat_form_wrapper {
    top: 28px;
    right: 80px;
  }
}
</style>
