<template>
  <div class="service_wrapper">
    <img class="oval_middle" src="../../assets/images/oval-middle.svg">
    <img class="oval_left" src="../../assets/images/oval-left.svg">
    <div class="top">
      <div class="title_wrup">
        <div class="title left_title">
          Услуги
        </div>
        <div class="title right_title">
          Проектируем, устанавливаем  и ремонтируем  климатические системы.
        </div>
      </div>
      <div class="images_container">
        <div class="wrap" v-for="(item, index) in servicesList" :key="index">
          <img class="img img1" :src="item.src" >
          <div class="img_desc">
            {{item.desc}}
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="title_wrup">
        <div class="title left_title">
          О нас
        </div>
        <div class="title right_title">
          Предлагаем широкий спектр услуг, помогаем обрести нужный климоконтроль
        </div>
      </div>
      <div class="list_wrapper">
        <div class=left_part>
          <div class="empty" />
          <div class="list">

            <div class="item">
              <div class="big_number">
                1
              </div>
              <div class="text">
                Гарантийные обязательства
              </div>
            </div>


            <div class="item">
              <div class="big_number">
                2
              </div>
              <div class="text">
                Официальный дилер оборудования
              </div>
            </div>

            <div class="item">
              <div class="big_number">
                3
              </div>
              <div class="text">
                Сертификат ISO 9001-2011 «Стандарт систем менеджмента качества»
              </div>
            </div>
          </div>
        </div>
        <div class="request_block">
          <div class="request_title">
            Заявка на расчёт
          </div>
          <div class="request_subtitle">
            Оставьте заявку через сайт и получите дополнительную скидку 5%
          </div>
          <CalculateButton msg="Рассчитать стоимость" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { services } from "./assets/sevicesData.js";
import CalculateButton from "../Buttons/CalculateButton.vue"
 export default {
   components: {
     CalculateButton
   },
   data: () => { 
     return {
       servicesList: services 
     }
   }
 }
</script>
<style lang="scss" scoped>
.service_wrapper {
  padding-top: 16px;
  margin-bottom: 220px;
  position: relative;
}
.top {
  display: flex;
  flex-flow: column nowrap;
  width: 545px;
  margin-bottom: 60px;
}

.bottom {
  display: flex;
  flex-flow: column nowrap;
  flex-direction: flex-start;
  align-content: end;
}
.empty {
  width: 232px;
}

.list_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}
.left_part {
  display: flex;
  flex-flow: row nowrap;
}

.list {
  width: 240px;
  margin-right: 30px;
  display: flex;
  flex-flow: column nowrap;
}
.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 22px;
}

.big_number{
  width: 20px;
  font-size: 2.3em;
  color: #FFFFFF;
  letter-spacing: 0;
  text-shadow: 0 2px 20px #FFFFFF;
}
.text {
  font-size: 0.8em;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 21px;
  text-shadow: 0 2px 4px rgba(15,16,203,0.50);
  width: 190px;
}

.request_block {
  display: flex;
  flex-flow: column nowrap;
  width: 352px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding-bottom: 22px;
}

.request_title {
  font-size: 1.4em;
  text-shadow: 0 2px 9px rgba(15,16,203,0.50);
  margin-bottom: 16px;
}

.request_subtitle {
  opacity: 0.5;
  font-size: 1em;
  text-shadow: 0 2px 4px rgba(15,16,203,0.50);
  margin-bottom: 30px;
}

.title_wrup {
  display: flex;
  flew-flow: column nowrap;
  margin-bottom: 70px;
  max-width: 541px;
}

.img {
  width: 130px;
  height: 130px;
  position: absolute;
  top: -25px;
  left: -5px;
}

.wrap {
  width: 120px;
  height: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 38px;
  margin-right: 18px;
}

.img_desc {
  text-align: center;
  font-size: 0.8em;
  color: #FFFFFF;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgba(15,16,203,0.50);
  padding-bottom: 14px;
}

.left_title {
  font-size: 1.8em;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 41px;
  text-shadow: 0 2px 9px rgba(15,16,203,0.50);
  width: 232px;
  margin-top: -10px;
}

.title {
  height: 78px;
}

.right_title {
  font-size: 1em;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 26px;
  text-shadow: 0 2px 4px rgba(15,16,203,0.50);
  width: 276px;
}

.images_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(216, 216, 216, 0.8);
}

.oval_middle {
  position: absolute;
  top: 90px;
  right: -192px;
  z-index: -1;
}

.oval_left {
  position: absolute;
  bottom: 159px;
  left: -192px;
  z-index: -1;
}

@media screen and (max-width: 1099px) {
  .service_wrapper {
    padding-left: 56px;
    padding-right: 55px;
  }
}

</style>
