<template>
  <div class="portfolio-container" id="portfolio">
    <div class="title">Наши работы</div>
    <div class="portfolio-list-container">
      <div class="portfolio-wrapper" v-for="(item, index) in portfolioList" :key="index">
        <div class="name">{{item.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { portfolioData } from "./assets/portfolioData.js";
export default {
  data: () => {
    return {
      portfolioList: portfolioData
    };
  }
};
</script>

<style scoped>
.portfolio-container {
  width: 100%;
  margin-bottom: 240px;
}

.title {
  margin-bottom: 34px;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 41px;
  text-shadow: 0 2px 9px rgba(15, 16, 203, 0.5);
}

.portfolio-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-wrapper {
  position: relative;
  width: calc(25% - 15px);
  height: 0px;
  padding-bottom: 25%;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgba(42, 43, 60, 0.7);
}

.name {
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .portfolio-container {
    padding-left: 56px;
    padding-right: 55px;
  }

  .portfolio-wrapper {
    width: 232px;
    height: 232px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 400px) {
  .portfolio-list-container {
    flex-wrap: nowrap;
  }
}
</style>
