<template>
  <div class="button_wrapper">
    <div class="text">{{ msg }}</div>
  </div>
</template>

<script>
  export default {
    props: ['msg']
  }
</script>

<style lang="scss" scoped>
.button_wrapper {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background: #FEEE5B;
  text-align: center;
  box-shadow: 0 22px 40px 0 rgba(38,51,62,0.50);
  cursor: pointer;
  &:hover {
    background: #FFFFFF;
  }
}
.text {
  letter-spacing: 0;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  padding-top: 16px;
}
</style>
