<template>
  <div class="button_wrapper">
    <div class="text">{{ msg }}</div>
  </div>
</template>

<script>
  export default {
    props: ['msg']
  }
</script>

<style lang="scss" scoped>
.button_wrapper {
  width: 100%;
  height: 60px;
  background-color: rgba(97, 234, 250, 0.1);
  border: 1px solid #61eafa;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: rgba(97, 234, 250, 0.4);
  }
}
.text {
  letter-spacing: 0;
  opacity: 1;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  padding-top: 16px;
}
</style>
