<template>
  <div class="fixed">
    <div class="menu">
      <div class="menu-wrapper">
        <div class="logo-wrapper">
          <div class="obnimu" @click="poehalu()">
            <div class="logo" />
            <a href="#main" class="logo-text">
              <p class="bold">Комфорт</p>
              <p>проф</p>
            </a>
          </div>
          <div class="links" :class=" isMobile && readyToCoitus ? 'dropdown-content' : 'links' ">
            <a href="#services" class="link">Услуги</a>
            <a href="#objects" class="link">Объекты</a>
            <a href="#portfolio" class="link">Портфолио</a>
            <a href="#form" class="link">Рассчитать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data: () => {
    return {
      readyToCoitus: false,
      deviceWidth: null,
      isMobile: false
    }
  },
  created() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize();
  },

  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },

  methods: {

    poehalu() {
      if (this.isMobile) {
        this.readyToCoitus = !this.readyToCoitus
      }
    },

    handleResize() {
      this.deviceWidth = window.innerWidth;
      if (this.deviceWidth <= 375) {
        this.isMobile = true
      }
      else {
        this.isMobile = false
      }

    }

  }

}


</script>

<style lang="scss" scoped>
.menu {
  position: fixed;
  z-index: 5;
  padding-top: 25px;
}

.fixed {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.menu-wrapper {
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  width: 100px;
  height: 287px;
  height: auto;
  padding-left: 25px;
}

.logo-wrapper {
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.logo {
  background: url("./assets/logo.svg") no-repeat center / cover;
  height: 40px;
  width: 40px;
  margin-bottom: 16px;
}

.logo-text {
  text-align: left;
  color: #ffffff;
  line-height: 23px;
}

.obnimu {
  margin-bottom: 36px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.bold {
  font-family: "Circe", bold;
  font-weight: bold;
}

.links {
  color: #d8d8d8;
  cursor: pointer;
  :last-child {
    color: #feee5b;
  }
}

.link {
  position: relative;
  margin-bottom: 6px;
  display: block;
  &:before {
    content: " ";
    position: absolute;
    top: 1px;
    left: -25px;
    border-left: 4px solid #ffffff;
    width: 10px;
    height: 20px;
    opacity: 0;
  }
  &:hover {
    color: #ffffff;
  }
}
.link:hover:before {
  opacity: 1;
}

@media screen and (max-width: 1099px) {
  .menu {
    position: relative;
  }
  .logo-wrapper {
    flex-flow: row nowrap;
  }
  .obnimu {
    margin: 0px 36px 0 0;
    display: flex;
  }
  .logo {
    margin: 0px 16px 0px 0px;
  }

  .links {
    display: flex;
  }
  .link {
    margin: 0px 16px 0px 0px;
    &:before {
      display: none;
    }
  }
}
@media screen and (max-width: 375px) {
  .logo-wrapper {
    position: relative;
    display: inline-block;
    background: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 10;
  }

  //.logo-wrapper {
  //  &:hover {
  //   .links {
  //     display: block;
  //   }
  // }
  //}
}
</style>
