<template>
  <div>
    <Menu />
    <div class="main">
      <HeadBlock />
      <div class="container">
        <ServiceBlock id="services" />
      </div>
      <div class="container">
        <FacilityPage />
      </div>
      <div class="container">
        <PortfolioPage />
      </div>
      <FooterFormPage />
    </div>
    <div class="floating" />
  </div>
</template>

<script>
import Menu from "@/components/NavMenu/Menu";
import FacilityPage from "@/components/Facility/FacilityPage.vue";
import PortfolioPage from "@/components/Portfolio/PortfolioPage.vue";
import FooterFormPage from "@/components/FooterForm/FooterFormPage.vue";
import HeadBlock from "@/components/HeadBlock/HeadBlock.vue";
import ServiceBlock from "@/components/Service/ServiceBlock.vue";
export default {
  name: "MainView",
  components: {
    HeadBlock,
    ServiceBlock,
    FacilityPage,
    PortfolioPage,
    FooterFormPage,
    Menu
  },
  props: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.floating {
  flex: 0 0 193px;
  z-index: 10;
}
@media screen and (max-width: 1099px) {
  .floating {
    position: absolute;
  }
}
</style>
