<template>
  <div class="footer-container" id="form">
    <img class="image" src="../../assets/images/wawe-footer.svg" alt />
    <Form checkType="footer" />
  </div>
</template>

<script>
import Form from "@/components/Form/Form.vue";
export default {
  components: {
    Form
  }
};
</script>

<style scoped>
.footer-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* background-image: linear-gradient(0deg, #0d36cc 3%, #302ea2 93%);
  box-shadow: 0 2px 94px 0 rgba(0, 0, 0, 0.5); */
}

.image {
  display: block;
  width: 100%;
  position: absolute;
  top: -300px;
  z-index: -2;
}
</style>
